  # Your values.yaml should target the "nextcloud" subchart
nextcloud:
  username: admin
  password: "Adm!nP@ss123"

  service:
    type: NodePort
    nodePorts:
      http: 31000

  replicaCount: 1

  persistence:
    enabled: true
    size: 10Gi

  ingress:
    enabled: false

  resources:
    requests:
      memory: 512Mi
      cpu: 200m
      ephemeral-storage: "500Mi"
    limits:
      memory: 1Gi
      cpu: 1000m
      ephemeral-storage: "2Gi"

mariadb:
  primary:
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
      limits:
        memory: 512Mi
        cpu: 500m